
.cardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
  }
  
  .card {
    width: 350px;
    height: 140px;
    margin: 20px;
    border: 1px solid #33f16c;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    background-color: none;
  }
  
  .card-text {
    margin-top: 10px;
  }
  
  .btn {
    margin-top: 0px;
    color: rgb(8, 8, 8);
  }

  #CompanyLogo {
    width: 50px;
    text-align: center;
  }
  #secondcard {
    padding-top: 1px;
    padding-bottom: 1px;
    height: 200px;
    padding-left: 1%;
    border: none;
  }
  #secondcard-btn {
    padding-top: 1px;
    padding-bottom: 1px;
  }
  .secondcardContainer{
    padding-top: 1px;
    padding-bottom: 1px;
    margin-top: 1px;
    margin-left: 10px;
  }