.loginContainer {
    background-image: url("../../assets/login_background_image.webp");
    background-size: cover;
    position:absolute;
    min-height: 100%;
    min-width: 100%;
    background-position: center;
  
  }
  
  .loginLogo {
      display: block;
      margin: auto;
      width: 60%;
  }
  
  .loginForm {
      width: 400px;
      border: 2px solid;
      padding: 20px;
      background-color: rgba(221, 219, 241, 0.61);
      border-radius: 30px;
      padding-top: 50px;
      margin: auto;
      margin-bottom: 100px;
      margin-top: 90px;
      font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
  
  }

  .loginButton {
    background-color: rgba(170, 177, 236, 0.247);
    border-radius: 5px;
    padding: 4px;
    font-family: 'Times New Roman', Times, serif;
  }
  