.homeContainer{
    background-image: url(../../assets/my-home-image.png);
    background-size: 100% 100%;
    position:fixed;
    left: 0;
    min-height: 100%;
    min-width: 100%;
    background-position: center;
}

 h1 {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgba(244, 245, 248, 0.938);
    font-size: 3rem;
  }
   h2 {
    position: absolute;
    bottom: 10%;
    left: 10%;
    font-size: xx-large;
    color: aliceblue;
  }

  .h3 {
    position: absolute;
    bottom: 20%;
    left: 10%;
    font-size: x-large;
    color: white;
  }
  #option {
    font-size:larger;
    font-weight: 500;
    color: white;
  }
 
  #searchIcon {
    width: 25px;
    height: 30px;
  }
  /* #userSection {
    margin: 0 200px 0 0;
    max-width: 490px;
    padding-left: 350px;
    font-size: large;
    text-align: center;
    float: none;
    display: block;
    -webkit-box-pack: center;
   
  } */

    #userSection{
  margin: 0 200px 0 0;
  padding-left: 40%;
  font-size: larger;

    }

  #searchBar {
    display: flex;
    align-items: center;
    text-align: center; 
    bottom: 1000px;
    padding-top: 250px;
    padding-left: 20%;
    width: 80%;
    
  }

