.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center
}
  
  .container img {
    width: 98vw;
    height: 98vh;
    object-fit: cover;
  }
  
  .container h1 {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 3rem;
  }
  .container h2 {
    position: absolute;
    bottom: 10%;
    left: 10%;
    font-size: xx-large;
    color: aliceblue;
  }

  .container h3 {
    position: absolute;
    bottom: 5%;
    left: 10%;
    font-size: x-large;
    color: aliceblue;
  }
  .container .input-group {
    width: 400px;
    bottom: 350px;
    margin-top: 20px;
    
  }

  